.Link {
  text-decoration: none;
}

.Header {
  margin: 20px;
  display: flex;
}

.navigation {
  list-style-type: none;
}

li {
  display: inline;
  padding-right: 5px;
}

.Signin,
.Home,
.AddPost,
.SinglePost,
.YourGroups,
.SingleGroup,
.Groups,
.Users {
  margin: 20px;
}

.user-toolbar {
  display: flex;
  color: #0072b4;
}

.user-toolbar h4 {
  padding-right: 15px;
  text-decoration: none;
}

.MyPostList {
  background: #0072b4;
  color: #fff;
  border-radius: 3px;
}

.MyPost h5 {
  padding: 5px;
}

.MyGroupsList p {
  background: #0072b4;
  padding: 5px;
  border-radius: 3px;
  color: #fff;
}
